.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon{
    text-align: center;
    text-transform: uppercase;
}

.card-icon img{
    width: 40%;
}

.text-icon{
font-size: 1.6rem ;
}

.text-icon samp{
color:#FFD700 ;
}

