@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #f0c21b;
    --secundary-color: #1a4657;
    --white-color: #fff;
    --text-gray: #2d2d2d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Home Section */
.home {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home .home-info {
    width: 100%;
    text-align: center;
}

.home .home-info .home-info-heading {
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--white-color);
}

.home .home-info .home-info-subheading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--white-color);
}

.home .home-info .home-info-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--white-color);
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: var(--text-gray);
}

.home .home-img {
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
}

.home .home-img img {
    height: 100%;
    width: 100%;
}
/* End Home Section */

/* About Section */
.about {
    width: 100%;
    min-height: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
}

.about .about-info {
    text-align: center;
}

.about .about-info .about-info-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
}

.about .about-info .about-info-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;
}

.about .about-info .about-info-button {
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background-color: var(--text-gray);
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .about-info .about-info-button:hover {
    background-color: black;
}

.about .about-img .about-img-wrapper {
    margin-top: 50px;
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}

.about .about-img .about-img-wrapper img {
    height: 100%;
    width: 100%;
}

.about .about-img .about-img-wrapper::after {
    position: absolute;
    content: '';
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 120%;
    background-color: rgba(24, 24, 24, 0.158);
    z-index: -1;
} 
/* End About Section */

/* Services Section */
.services {
    flex-direction: column;
    min-height: 60vh;
    padding: 10rem 5rem;
}

.services .services-header {
    width: 100%;
    text-align: center;
}

.services .services-header .services-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.services .services-header .services-header-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
}

.services .services-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.services .services-info .service {
    width: 100%;
    min-height: 300px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;
}

.services .services-info .service .service-card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .3s ease transform;
    display: block;
}

.services .services-info .service .service-card .service-front,
.services .services-info .service .service-card .service-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 10px;
}

.services .services-info .service .service-card .service-back {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-front i {
    font-size: 4rem;
    color:  black;
    margin-bottom: 10px;
}

.services .services-info .service .service-card .service-front .service-front-heading,
.services .services-info .service .service-card .service-back .service-back-heading{
    font-size: 2.5rem;
    text-transform: capitalize;
}

.services .services-info .service:hover .service-card {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-back .service-back-desc {
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}

.services .services-info .service:nth-child(2) .service-card .service-front {
    background-image: url(./img/img3.jpg);
    background-size: cover;
    position: relative;
    color: var(--white-color);
}

.services .services-info .service:nth-child(2) .service-card .service-front::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: -1;
}

.services .services-info .service:nth-child(2) .service-card .service-front i {
    color: var(--white-color);
}
/* End Services Section */

/* Hire Section */
.hire {
    min-height: 10vh;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    padding: 3rem 2rem;
}

.hire .hire-heading {
    color: black;
    font-size: 2.2rem;
    text-align: center;
}

.hire .hire-button {
    padding: 2rem 3rem;
    display: inline-block;
    background-color: var(--text-gray);
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    margin-top: 10px;
    color: var(--white-color);
    transition: .3s ease background-color;
}

.hire .hire-button:hover {
    background-color: black;
} 
/* End Hire Section */



/* Responsive - Desktop / Tablet */
@media only screen and (min-width: 768px) {
    .nav-bar .nav-list .hamburger {
        display: none;
    }

    .nav-bar {
        width: 80%;
    }

    .nav-bar .nav-list ul {
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: initial;
        background-color: transparent;
    }

    .nav-bar .nav-list ul li {
        display: inline-block;
    }

    .home {
        height: 100vh;
        flex-direction: row;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
    }

    .home .home-info {
        max-width: 30%;
        text-align: left;
    }

    .home .home-info .home-info-subheading {
        font-size: 1.3rem;
        letter-spacing: .5rem;
    }

    .home .home-img {
        min-width: 400px;
        max-width: 1000px;
    }

    .about {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }

    .about .about-info {
        width: 50%;
        text-align: left;
        padding-right: 17rem;
    }

    .services .services-header .services-header-desc {
        max-width: 500px;
        padding-top: 20px;
        margin: 0 auto;
    }

    .services .services-info {
        flex-direction: row;
        width: 80%;
    }

    .services .services-info .service {
        margin: 0;
    }
}

/* Responsive - Desktop */
@media only screen and (min-width: 1200px) {
    .home .home-info .home-info-heading {
        font-size: 6rem;
    }

    .home .home-info .home-info-subheading {
        letter-spacing: .8rem;
    }
}